.btn {
  padding: .375rem .75rem;
}

body {
  background-color: #F1F1F1;
}

.setup, .address, .simulator, .explanation, .statistics {
  background-color: #fff;
}

body {
  margin-top: 1vh;
}

.setup {
  position: relative;
  height: 98vh;
  overflow-y: auto;
}

.setup > h1 {
  padding: 10px 0px 30px 0px;
}

.addr-structures table th,
.addr-structures table td {
  min-width: 3px;
}

.right-section {
  height: 98vh;
}

.table {
  text-align: center;
}

.calculations {
  flex-grow: .1;
  min-width: 210px;
}

.calculations > h6 {
  text-align: center;
}

.calculations > .row > .result-identifiers {
  text-align: right;
}

.calculations div {
  line-height: 1.2;
  font-size: .79em;
}

.simulator {
  height: 55vh;
  margin-top: 2vh;
  overflow: auto;
}

.directory th, .directory td, .content th, .content td, .mm td {
  padding: 0 !important;
}

.mm {
  font-size: .6em;;
}

.table-wrapper {
  max-height: 40vh;
  overflow: auto;
}

.explanation, .statistics {
  height: 16vh;
  margin-top: 2vh;
}